/* Header */

header {
	margin: 0;
	align: middle;
	display: flex;
	align-items: center;
	justify-content: center;

	a.Header-Title {
		text-decoration: none;
		align-items: center;
		height: auto;
		
		div {
			display: flex;
			width: 100%;
			white-space: pre;

			span[id]:not(#SVG-Container) {
				font-family: 'Lazy Dog', sans-serif;
				font-size: 2em;
			}

			#jules {
				color: var(--background);
			}
	
			#ferguson {
				color: var(--primary);
				transition: 0.3s ease-in;
			}

			.SVG-Container {
				width: 0;
				height: 0;

				#blob {
					flex-shrink: 0;
					position: relative;
					height: auto;
					z-index: -1;	
					height: 12em;
					left: -40em;
					top: -5.5em;
					path {
						fill: var(--secondary);
						transition: 0.3s ease-in;
					}
			}
		}
			
		}
	}

	.Header-Title:hover {
		#ferguson {
			color: var(--secondary);
			transition: 0.3s ease-in;
		}
		
		.SVG-Container #blob {
			path {
				fill: var(--primary);
				transition: 0.3s ease-in;
			}
		}
	}
}

/* Navigataion */

/* Disable Hamburguer Menu */
[class^=Nav-Hamburger] {
	display: none;
}


nav {
	margin: 0;
	vertical-align: middle;
	background-color: inherit;
	display: flex;
	
	div.Nav-Buttons {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;

		a {
			text-decoration: none;
			transition: .3s ease-in;
			/* background-color: var(--secondary); */
			color: var(--primary);
			margin: 1.5em;
			height: auto;

			h1 {
				margin: 0;
				width: auto;
			}

			.SVG-Container {
				width: 0;
				height: 0;
				position: relative;
				display: block;

				#blob5 {
					width: 5em;
					left: -0.3em;
					top: -3.5em;
				}

				#blob7 {
					width: 9em;
					top: -6em;
					left: -1.25em;
				}

				#blob9 {
					width: 4em;
					top: -3em;
					left: -1.1em;
				}

				#blob11 {
					width: 7em;
					left: -0.5em;
					top: -4.5em;
				}

				[id^=blob] {
				position: relative;
				height: auto;
				z-index: -1;	

				path {
					fill: var(--secondary);
					transition: 0.3s ease-in;
				}


			}
		}
	}
	
		a:hover {
			transition: 0.3s ease-in;
			/* background-color: var(--primary); */
			color: var(--secondary);

			[id^=blob] {
				path {
					fill: var(--primary);
					transition: 0.3s ease-in;
				}
			}
		}


	}
}

/* Pages */

.Page {
	/* Home/About */
	&#home {
		h1 {
			color: var(--primary);
			text-align: left;
		}
	
		h2 {
			font-family: 'Helvetica', sans-serif;
			font-weight: normal;
			text-align: left;
		}

		h3 {
			width: auto;
			font-family: 'Helvetica', sans-serif;
			font-weight: lighter;
			text-align: justify;
		}

		p {
			margin: 3em;
			margin-top: 0em;
			margin-bottom: 0em;
		}

		span {
			display: flex;

			img {
				flex: 1;
				height: auto;
				border: 3px solid black;
			}

			p {
				flex: 2;
			}

			div.Flex-gap {
				flex: 1;
			}
		}
	}

	/* Gallery (Selected Works) */
	&#gallery {

	}

	/* CV */
	&#cv {

	}

	/* Contact */
	&#contact {

	}

}


/* Home/About */

#home.Page {


}

/* Gallery */
#gallery.Page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Layouts */

@media (max-width: 1440px) {
	/* Header-Nav Layout */
	.App > span {
		display: flex;
		margin: 5em;

		header {
			flex: 1;
		}
	
		nav {
			flex: 2;
		}
		
		div.Flex-gap {
			flex: 1;
		}
	
	}
}

/* Largest Screen layout */
@media (min-width: 1441px) {
	/* Header-Nav Layout */
	.App > span {
		display: inline-block;

		header {
			margin: 5em;
		}
	
		nav {
			display: block;

			div.Nav-Buttons {
					
			}
		}
	}
}
