/* Header */

header {
	margin: 4em;
	padding: 2em;
	align: middle;
	display: flex;
	align-items: center;
	justify-content: center;

	a.Header-Title {
		text-decoration: none;
		align-items: center;
		height: auto;
		
		div {
			display: flex;
			width: 100%;
			white-space: pre;

			span[id]:not(#SVG-Container) {
				font-family: 'Lazy Dog', sans-serif;
				font-size: 3em;
			}

			#jules {
				color: var(--background);
			}
	
			#ferguson {
				color: var(--primary);
				transition: 0.3s ease-in;
			}

			.SVG-Container {
				width: 0;
				height: 0;
				#blob {
				position: relative;
				width: 15em;
				left: -26em;
				top: -7em;
				height: auto;
				z-index: -1;	
				path {
					fill: var(--secondary);
					transition: 0.3s ease-in;
				}
			}
		}
			
		}
	}

	.Header-Title:hover {
		#ferguson {
			color: var(--secondary);
			transition: .3s ease-in;
		}
		
		.SVG-Container #blob {
			path {
				fill: var(--primary);
				transition: 0.3s ease-in;
			}
		}
	}
}

/* Navigataion */

/* Disable Hamburguer Menu */
[class^=Nav-Hamburger] {
	display: none;
}


nav {
	padding: 0.5em;
	vertical-align: middle;
	top: 0;
	background-color: inherit;
	
	.Nav-Buttons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		vertical-align: middle;

		a {
			text-decoration: none;
			transition: .3s ease-in;
			/* background-color: var(--secondary); */
			color: var(--primary);
			margin: 0.5em;
			margin-bottom: 3em;

			height: 2.5em;

			h1 {
				margin: 0;
				width: 6em;
			}

			.SVG-Container {
				width: 0;
				height: 0;

				#blob9 {
					width: 4em;
					top: -3em;
				}

				#blob7 {
					width: 9em;
					top: -6em;
				}

				[id^=blob] {
				position: relative;
				width: 9em;
				top: -5.5em;
				height: auto;
				z-index: -1;	

				path {
					fill: var(--secondary);
					transition: 0.3s ease-in;
				}


			}
		}
	}
	
		a:hover {
			transition: .3s ease-in;
			/* background-color: var(--primary); */
			color: var(--secondary);

			[id^=blob] {
				path {
					fill: var(--primary);
					transition: 0.3s ease-in;
				}
			}
		}


	}
}

/* Home/About */

#home.Page {

	h1 {
		color: var(--primary);
	}

	h4, h5 {

	}

}

/* Gallery */
#gallery.Page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
