:root {
	/* Variables */
	--primary: #2F805B;
	--secondary: #AED3B0; 
	--tertiary: #EA624A;
	--quaternary:#D67B74;
	--quinary: #804E49;
	--text: #100c08;
	--text-highlight: black;
	--text-background: white;
	--background: #F8F1E1;

	color: var(--text);
	background-color: var(--background);
}

.App {
  text-align: center;
	margin: 0;
}


/* Default styles */

h1, h2, h3 {
	font-family: 'Lazy Dog', sans-serif;
}

p {
	width: auto;
	font-weight: lighter;
	hyphens: none;
	text-align: justify;
	text-align-last: left;
}

footer {
	color: var(--text);
	height: 10vh;
	position: absolute;
	width: 100%;
	margin: 0;
	z-index: -1;
}

footer a {
	margin: 0.5em;
	vertical-align: middle;
}

footer a .social-svg-mask {
	transition: .3s ease-in;
	fill: var(--secondary) !important;
}

footer a .social-svg-icon {
	fill: var(--quinary);
}

footer a .social-svg:hover .social-svg-mask{
	transition: .3s ease-in;
	fill: var(--primary) !important;
}

@import url('./laptop.css');
