:root {
	/* Variables */
	--primary: #F25237;
	--secondary: #25A37A;
	--text: black;
	--text-alt: white;
	--background: #F1E9D8;

	color: var(--text);
	background-color: var(--background);
}

.App {
  text-align: center;
}

.Navigation {
	padding: 0.5em;
	vertical-align: middle;
	horizontal-align: center;
	top: 0;
	background-color: inherit;
}

.Nav-Buttons {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	text-decoration: none;
	vertical-align: middle;
}

.Nav-Buttons a {
	color: inherit;
	text-decoration: inherit;
	background-color: var(--primary);
	color: var(--text-alt);
	width: 10em;
	margin: 0.5em;
	height: 2.5em;
}

.Footer {
	bottom: 0;
	background-color: var(--background);
	vertical-align: middle;
	horizontal-align: center;
	color: var(--text);
	margin: 2em;
	margin-right: 2em;
}

.Footer-Buttons {
	margin: 0.5em;
	height: 2.5em;
}

.Footer-Buttons .social-svg-mask {
	fill: var(--secondary) !important;
}

.Paragraph-Text {
	text-align: left;
	margin-left: 3em;
	margin-right: 3em;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 5em;
	padding-top: 4em;
	padding-bottom: 4em;
	border: 3px solid black;
}
